*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,arial, helvetica;
    font-weight: 200;
}
:root {
    --background-color: rgb(0, 0, 0,.7);
    --background-verde: rgb(0, 128, 0,.7);
    --background-naranja: #FB5607;
    --background-red: #FF1010;
    --background-white: #fff;
}
.container{
    background-image: url("https://i.blogs.es/362ab0/calc/1366_2000.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.contenedor{
    height: 100vh;
    background-color: var(--background-color);
    display: grid;
    place-items: center;
}
.form{
    width: 700px;
    padding: 15px;
    background-color: var(--background-verde);
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
.form_sec{
    width: 400px;
}
.form_name{
    padding: 15px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--background-white);
    text-align: center;
    font-size: 35px;
}
.form_imput{
    padding: 15px;
}
.form_title{
    text-align: center;
    text-transform: uppercase;
    color: var(--background-white);
    margin-bottom: 15px;
    font-size: 28px;
}
.title_sec{
    text-align: center;
    color: var(--background-white);
    font-size: 18px;
    margin-bottom: 20px;
}
.group_imput{
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form_input{
    font-size: 20px;
    padding: 15px 0;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 10px;    
}
.btn_primary{
    border: none;
    background-color: var(--background-naranja);
    font-size: 25px;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    color: var(--background-white);
    cursor: pointer;
}
.btn_primary:hover{
    color: var(--background-color);
}
.btn{
    text-align: center;
    padding: 10px 0;
}
.enlace{
    background: none;
    border: none;
    padding: 10px;
    color: var(--background-white);
    font-size: 20px;
}
.enlace:hover{
    cursor: pointer;
    color: var(--background-naranja);
}
